<div class="container-fluid">
  <div class="row container-login test1">
    <div class="col-sm-auto">
      <div class="logo-text">
        <h1 class="logo-text">Bem vindo! Cadastro de cardapios</h1>
      </div>
      <form action="/cardapios" method="post" enctype="multipart/form-data">
        <div class="mb-3">
          <label for="nome_prato" class="form-label">Nome do prato</label>
          <input
            type="text"
            class="form-control"
            id="nome_prato"
            name="nome_prato"
            aria-describedby="emailHelp"
          />
        </div>
        <div class="mb-3">
          <label for="tempo_preparo" class="form-label">Tempo de preparo</label>
          <input
            type="time"
            class="form-control"
            id="tempo_preparo"
            name="tempo_preparo"
          />
        </div>
        <div class="mb-3">
          <label for="descricao_prato" class="form-label"
            >Descrição do prato</label
          >
          <input
            type="text"
            class="form-control"
            id="descricao_prato"
            name="descricao_prato"
          />
        </div>
        <div class="mb-3">
          <label for="valor_prato" class="form-label">Valor do prato</label>
          <input
            type="number"
            class="form-control"
            id="valor_prato"
            name="valor_prato"
          />
        </div>
        <div class="input mb-3">
            <label for="imagem" class="form-label">Imagem do prato</label>
            <input
              type="file"
              class="form-control"
              id="inputGroupFile02"
              name="img_prato"
            />
        </div>
        <div class="mb-3">
          <label for="categoria" class="form-label">Categoria do prato</label>
          <input
            type="text"
            class="form-control"
            id="categoria"
            name="categoria"
          />
        </div>
        <button type="submit" class="btn btn-primary btn-car">CADASTRAR CARDAPIO</button>
      </form>
      <div id="cadastro">
        <a href="/home">Deseja voltar para a home?</a>
      </div>
    </div>
  </div>
</div>
