<div class="container-fluid">
    <div class="row container-login test">
        <div class="col-sm-auto">
          <div class="container-logo">
            <img src="/images/Captura de tela_20230812_155856.png" alt="Logo" class="logo">
          </div>
          <div class="logo-text">
            <h1 class="logo-text">Bem vindo ao site de cardapios</h1>
          </div>
            <form id="login-form" action="/login" method="post">
                <div class="mb-3" id="email">
                  <label for="exampleInputEmail1" for="email" class="form-label">Endereço de Email</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" action="/login" name="email" method="post">
                  <div id="emailHelp" class="form-text"><p>Nunca compartilharemos seu e-mail com mais ninguém</p></div>
                </div>
                <div class="mb-3" id="senha">
                  <label for="exampleInputPassword1" class="form-label">Senha</label>
                  <input type="password" class="form-control" id="exampleInputPassword1" action="/login" name="senha" method="post">
                </div>
                <div class="mb-3 form-check container-senha">
                  <input type="checkbox" class="form-check-input check-senha" id="verSenha">
                  <label class="form-check-label labelSenha" for="exampleCheck1">Ver minha senha</label>
                  <a href="" class="esqueceuSenha">Esqueceu a senha?</a>
                  <!-- /resetSenha -->
                </div>
                <button type="submit" class="btn btn-login" action="/login" value="login" method="post">ENTRAR</button>
            </form>
            <div id="cadastro">
              <p>Não tem uma conta? <a href="/cadastro">Cadastre-se</a></p>
            </div>
        </div>
    </div>
</div>