*{
    margin: 0!;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.btn-login{
    border: none!important;
    outline: none!important;
    background-color: red!important;
    color: white!important;
    padding: 10px 20px!important;
    border-radius: 8px!important;
    cursor: pointer!important;
    font-size: 14pt!important;
    font-weight: bolder!important;
    width: 100%!important;
}

.form-control {
    border-color: black!important;
    border: solid 2px!important;
    border-radius: 8px!important;
    font-size: 14pt!important;
    font-weight: 600!important;
}

.form-label{
    font-size: 10pt!important;
    font-weight: bolder!important;
    color: black!important;
}

.form-text{
    font-size: 11pt!important;
    font-weight: 500!important;
    color:rgb(87, 87, 87)!important;
}

.container-login{
    justify-content: center!important;
    align-items: center!important;
}

.check-senha{
    cursor: pointer!important;
    position: relative!important;
    border: solid 2px red!important;
    border-radius: 30px!important;
    width: 25px!important;
    height: 25px!important;
}

.container-senha{
    justify-content:space-around!important;
    display: flex!important;
}

.labelSenha{
    padding: 7px 6px!important;
    align-items: center!important;
    color: red!important;
    font-size: 10pt!important;
    font-weight: bolder!important;
    width: 60%!important;
}

.esqueceuSenha{
    text-decoration: none!important;
    color: red!important;
    font-size: 10pt!important;
    font-weight: bolder!important;
    padding: 7px 0!important;
    text-align: center!important;
    width: 40%!important;
    text-align: end!important;
}

.check-senha:checked{
    background-color: red !important;
}

.container-logo{
    width: 100%!important;
    margin: 0 auto!important;
    display: flex!important;
    justify-content: center!important;
    align-items: center!important;
}

.logo-text{
    font-size: 17pt!important;
    font-weight: bolder!important;
    color: red!important;
    padding: 10px!important;
    text-align: center!important;
    width: 100%!important;
}

.logo{
    width: 170px!important;
    height: 170px!important;
}

#cadastro{
    text-decoration: none!important;
    color: black!important;
    font-size: 10pt!important;
    font-weight: bolder!important;
    padding: 7px 0!important;
    width: 100%!important;
}

.container-welcome{
    display: flex!important;
    justify-content: center!important;
    align-items: center!important;
    display: flex!important;
}

.label-img{
    color: black!important;
    font-size: 14pt!important;
    font-weight: bolder;
}

.btn-car{
    border: none!important;
    outline: none!important;
    background-color: red!important;
    color: white!important;
    padding: 10px 20px!important;
    border-radius: 8px!important;
    cursor: pointer!important;
    font-size: 14pt!important;
    font-weight: bolder!important;
    width: 100%!important;
}

.welcome{
    width: 100%!important;
    height: 50vh!important;
    display:flex!important;
    flex-direction: column-reverse!important;
}

.welcome p{
    font-size: 9pt!important;
    font-weight: bolder!important;
    color: red!important;
    padding: 3px!important; 
    width: 100%!important;
}

.navbar{
    background-color: white!important;
    justify-content:space-between!important;
    border-bottom: solid 2px black!important;
    margin: 0!important;
    padding: 0!important;
}

.navbar-brand{
    margin: 0!important;
}

.navbar-brand img{
    width: 100px!important;
}

.test1{
    margin: 0!important;
    padding: 0!important;
}

.neymar{
    padding: 14px!important;
    justify-content: center!important;
    align-items: center!important;
    display: flex!important;
}

.card-img-top{
    width: 100%!important;
    height: 100%!important;
}

.card-title{
    font-size: 12pt!important;
    font-weight: 900!important;
    color: red!important;
    padding: 10px!important;
    text-align: center!important;
}

#userName{
    font-size: 10pt!important;
    font-weight: bolder!important;
    color: black!important;
    padding: 7px 0!important;
    text-align: center!important;
}

.cardapio-list {
    list-style: none;
    padding: 0;
  }
  
  .cardapio-list li {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    border-radius: 5px;
  }
  
  .cardapio-list li img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px auto;
  }
  
  .cardapio-list li strong.categoria {
    color: #ff5722;
  }
  
  .cardapio-list li strong {
    font-weight: bold;
  }
  
  .cardapio-list li strong::after {
    margin-right: 5px;
  }
  .cardapio-list li img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
.criar button{
    text-decoration: none!important;
    border-radius: 10px;
    margin: 10px!important;
    color: #ffffff!important;
    font-size: 10pt!important;
    font-weight: bolder!important;
    padding: 8px!important;
    background-color: red;
    border: none;
    width: 150px;
    height: 50px;
}

.btn-excluir {
    text-decoration: none!important;
    border-radius: 10px;
    margin: 10px!important;
    color: red!important;
    font-size: 16pt!important;
    font-weight: bolder!important;
    padding: 5px!important;
    background-color: white;
    border: none;
    border: solid 3px black;
    width: 60px!important;
}

.btn-excluir svg{
    width: 25px!important;
    height: 25px!important;
}

.btn-edit{
    border-radius: 10px!important;
    text-decoration: none!important;
    border: none!important;
    margin: 10px!important;
    color: white!important;
    font-size: 16pt!important;
    font-weight: bolder!important;
    padding: 5px!important;
    background-color: red!important;
    width: 60px!important;
}

.btn-edit svg{
    width: 25px!important;
    height: 25px!important;
}

.btns{
    display: flex!important;
}

.deslogar svg{
    width: 4vw!important;
    height: 4vh!important;
}

.deslogar{
    text-decoration: none!important;
    border: none!important;
}

.deslogar button{
    border-radius: 10px;
    border: solid 3px black!important;
    margin: 4px!important;
    color: red!important;
    font-size: 16pt!important;
    font-weight: bolder!important;
    padding: 8px!important;
    background-color: white;
    border: none;
    width: 100%;
    height: 100%;
}

.test{
    display: flex!important;
    justify-content: center!important;
    align-items: center!important;
    flex-direction: column!important;
}

#alert-danger{
    width: 300px;
    display: flex;
    background-color: red;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}

#alert-danger p{
    font-size: 14pt!important;
    font-weight: bolder!important;
    color: white!important;
    text-align: center!important;
    width: 100%!important;
    margin: 0!important;
    padding: 10px;
}

main{
    display: flex!important;
    flex-direction: column!important;
    justify-content: center!important;
    align-items: center!important;
}

.fade-out {
    transition: opacity 1s;
  }
  
  .fade-out.hidden {
    opacity: 0;
  }